body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(247, 250, 252);
}

.welcome-text {
    color: #f75454;
    font-weight: 600;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    padding: 100px;
    border: 5px solid #f75454;
}

.welcome-text > span {
    font-size: 2.1rem;
    text-shadow: 3px 3px #fbbcbc;
}

.small-welcome-text {
    color: #f75454;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 1px;
}

/* NAV */
.navbar_warapper a{
    padding-right: 20px;
}

.navbar-nav>a{
    color: white;
    text-decoration: none;
    /* margin-top: 7px; */
    padding: 6px 13px 6px 13px;
}

.navbar-nav>a:hover { 
    text-decoration: underline;
    color: white;
}


.navbar-nav>a:active { 
    text-decoration: underline;
    color: white; 
}

/* HOME */

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
}

.right-button{
    margin-left: auto;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}
  .carousel-inner {
    padding: 1em;
}

.carousel-control-prev-icon {
    margin-right: auto;
}

.carousel-control-next-icon {
    margin-left: auto;
}

.sr-only{
    display: none;
}

.title-page{
    color: black;
}

/* SHOP */
ul>li{
    list-style-type: none;
}

.accordion .card-header{
    background-color: white;
    border: none;
}

.accordion .btn-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.accordion .btn-link:hover{
    color: rgb(112, 112, 112);
}

.show-book{
    left: 0;
}

/* ONSALE */
.text-content{
    text-decoration: none;
    color: black;
    margin: 0;

}